.custom-alert{
    position: fixed;
    top: 25px;
    right: 25px;
}

.custom-bg:hover{
    background-color: bisque;
    border-color: bisque;
}

.h-line{
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}

.custom-alert{
    position: fixed;
    top: 80px;
    right: 25px;
}

#dashboard-menu{
    position: fixed;
    height: 100%;
    z-index: 11;
}

@media screen and (max-width: 991px){
    #dashboard-menu{
        height: auto;
        width: 100%;
    }
    #main-content{
        margin-top: 60px;
    }
}

